/* ================================== */
/* === Gregory Moyerbrailean 2014 === */
/* ================================== */

/*
	Thanks as always to colorSchemeDesigner (now paletton)
	for help with color schemes:
	http://paletton.com/#uid=7000u0kw0oumTvnufuHCaj+KXeF
*/

/* zocial pictograms by Sam Collins - http://www.smcllns.com/ */
@import url(http://weloveiconfonts.com/api/?family=zocial);
[class*=zocial-]:before{
	font-family:zocial,sans-serif
}

body {
  padding-top: 50px;
}

tr {
	vertical-align: top;
}

a, a:visited {
	color: #009C00;
}

a:active, a:hover {
	color: #C30000;
	text-decoration: none;
}

/* Useful for fixing layout issues */
/** {
	border: 1px dashed black;
}
*/
/* =================== */
/* ===== Classes ===== */
/* =================== */

/* From  bootstrap */
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.inline {
	display: inline;
}

ul.smallind {
	list-style-type: none;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size:12px;
}

.pub {
	padding-top: 10px;
	border-bottom: 1px solid gray;
}

/* No bottom border on last pub */
div.pub:last-child {
	padding-top: 10px;
	border-bottom: none;
}

ul.contact {
	list-style-type: none;
	padding-left: 10px;
}

ul.contact li {
	padding-bottom: 5px;
}

ul.links {
	list-style-type: none;
}

ul.links li {
	padding-bottom: 5px;
}

ul.links a {
	padding-left: 5px;
}


/*
	IDs
*/
div #content {
	text-align: left;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#projects > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
