/* ================================== */
/* === Gregory Moyerbrailean 2014 === */
/* ================================== */

/*
	Thanks as always to colorSchemeDesigner (now paletton)
	for help with color schemes:
	http://paletton.com/#uid=7000u0kw0oumTvnufuHCaj+KXeF
*/

/* ========================= */
/* ===== Fonts/Imports ===== */
/* ========================= */

/* Entypo pictograms by Daniel Bruce - http://www.entypo.com/ */
@font-face 	{
    		font-family: 'entypo';
    		src: 	url('../fonts/entypo/entypo.eot');
    		src: 	url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         		url('../fonts/entypo/entypo.woff') format('woff'),
         		url('../fonts/entypo/entypo.ttf') format('truetype'),
         		url('../fonts/entypo/entypo.svg#Serif-Regular') format('svg');
    		font-weight: normal;
    		font-style: normal;

}
@font-face 	{
    		font-family: 'entypo-social';
    		src: 	url('../fonts/entypo/entypo-social.eot');
    		src: 	url('../fonts/entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
         		url('../fonts/entypo/entypo-social.woff') format('woff'),
         		url('../fonts/entypo/entypo-social.ttf') format('truetype'),
         		url('../fonts/entypo/entypo-social.svg#Serif-Regular') format('svg');
    		font-weight: normal;
    		font-style: normal;
}

body {
  padding-top: 50px;
}

tr {
	vertical-align: top;
}

a, a:visited {
	color: #009C00;
}

a:active, a:hover {
	color: #C30000;
	text-decoration: none;
}

/* Useful for fixing layout issues */
/** {
	border: 1px dashed black;
}*/

/* =================== */
/* ===== Classes ===== */
/* =================== */

.e {
	font-family: entypo, sans-serif;
	font-size: 40px;
}

.es {
	font-family: entypo-social, sans-serif;
	font-size: 40px;
}

.inline {
	display: inline;
}

ul.smallind {
	list-style-type: none;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size:12px;
}

.pub {
	padding-top: 10px;
	border-bottom: 1px solid gray;
}

/* No bottom border on last pub */
div.pub:last-child {
	padding-top: 10px;
	border-bottom: none;
}

ul.links {
	list-style-type: none;
}

ul.links li {
	padding-bottom: 5px;
}

ul.links a {
	padding-left: 5px;
}

.contact {
	display: inline-block;
}

/*
	IDs
*/
div #content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	text-align: left;
	width: 75%;
}

#projects > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
